* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  background: rgb(55, 145, 201);
  font-family: sans-serif;
}

.container {
  margin-top: 30px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  /* background-color: lightgray; */
}

.cell {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 8px;
  background-color: azure;
  margin-right: 12px;
  margin-left: 12px;
  padding: 8px;
  width: 30vw;
  min-width: 350px;
}

.cell:not(:last-child) {
  margin-bottom: 16px;
}

.cards-container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  background-color: azure;
  width: 100%;
  min-height: 28px;
  padding: 8px;
}

/* .cards-container:not(:last-child) {
  margin-bottom: 12px;
} */

.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  /* flex-direction: row-reverse; */
}

.title {
  text-align: center;
  margin-top: 3px;
  text-transform: uppercase;
  font-weight: 400;
}

.button_add {
  width: 100%;
  text-align: end;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.button {
  background-color: #fff;
  color: rgb(70, 65, 80);
}

.button_add:hover {
  background-color: #d2d2d4;
}

.button_add:active {
  background-color: #d2d2d4;
  border: 1px solid #ff6666;
}

.card {
  width: 100%;
  min-height: 60px;
  margin: 5px;
  background-color: #fff;
}

.form {
  margin: 12px;
}

.form-text {
  /* padding: 5px; */
  box-shadow: 0 4px 16px #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  resize: none;
}

.block__button {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.form-button__add {
  width: 40px;
  height: 25px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 16xp;
  color: #fff;
  background: #d1c8ff;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.form-button__del {
  width: 40px;
  height: 25px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 16xp;
  color: #fff;
  background: #d1c8ff;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.form-button:hover,
.form-button__del:hover {
  background-color: lightgray;
}

.form-button:active,
.form-button__del:active {
  background-color: #990000;
  outline: 1px solid blue;
  border-radius: 5px;
}

.pinned__card {
  position: relative;
  /* display: flex;
  justify-content: space-between; */
  width: calc(100% - 16px);
  text-align: start;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 3px;
  background-color: cadetblue;
  outline: 1px solid gray;
  color: white;
}

.task__title {
  overflow-wrap: break-word;
  hyphens: auto;
}

.task__title,
.task__del {
  margin: 0;
}

.task__del {
  position: absolute;
  top:3px;
  right: 3px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border: none;
  background-image: url(../img/delete.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}

.pinned__card.dragged {
  position: absolute;
  z-index: 999;
  pointer-events: none;
  background: rgb(109, 117, 241);
}

.hidden {
  display: none;
}

.visually-hidden {
  opacity: 0;
}

.placeholder {
  display: block;
  background-color: #f0f0f0;
  border: 1px dashed #ccc;  
  pointer-events: none;
  /* width: 100%;
  height: 0; */
  z-index: 99;
  opacity: 0;
  transition: all 0.35s ease-in-out;
}
